body {
    margin: 0;
}

.title {
    border: 2px solid black;
    padding: 5px;
    font-size: max(30px, 3vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    max-width: 200px;
    width: 100%;
    height: auto;
}
